#Data folders
DropBox (Joerg Wicker)
Example_Data
xy

#Disk images (Ubuntu and DataAnalytics CD)
*.iso

#pyopenms tutorial files and intermediate mzML and xlsx data
*.pdf
*.mzML
*.xlsx

#Don't need these
.DS_store
*.png
*.xy